# Class 1

##Printing

In [1]:
print ("Lets print something ")

Lets print something

In [2]:
print ("Hi! My name is Aman ")

Hi! My name is Aman

## Variables

In [3]:
num = 1 
my_string = "This is a string"

In [4]:
print (num)

1

In [5]:
print (my_string)

This is a string

## Data Type - Strings

In [6]:
my_str = "Hello"

In [7]:
print (my_str)

Hello

In [8]:
print (my_str[0])

H

In [9]:
different_string = "This is a MY NAME: AMAN"

In [10]:
 print ("Hello", different_string[19:])

Hello AMAN

In [11]:
print (different_string[-4:])

AMAN

In [12]:
len(different_string)

23

In [13]:
different_string.lower()

'this is a my name: aman'

##Data Type - Numbers

In [14]:
num1 = 3
num2 = 4

In [15]:
sum = num1+num2

In [16]:
print (sum)

7

In [17]:
num1 ** num2

81

# Class 2

## Recap

In [18]:
var_string = "This is a string "
a = 3
b = 5

print (var_string[4:])
c = a+b
print (c)

 is a string
8

## Operations and Type

In [19]:
a = 5.0

type(a)

float

In [20]:
s = "5"

type(s)

str

In [21]:
a + 5 # give me 10

10.0

In [22]:
s + 5 # Gives me an error

TypeError: ignored

In [ ]:
s + "5" # Will make it string 55

In [ ]:
# what if i have to convert it to a int ?
s = "45"

c = int(s) + 5

print (c) # Now this will give me 10

## Defining Strings & Input

In [ ]:
my_string = 'Hey ! This is Aman !'

print (my_string)

In [ ]:
# Give's an error why ?
my_string = 'This is Aman's Class'

In [ ]:
my_string = "This is Aman's Class" # "" solves the problem of having 's

print (my_string)

In [ ]:
# Lets take the name from the user (someone who is running your program)

name = input ("Whats your name ? ")

print ("Hey there !", name)

In [ ]:
type(name)

In [ ]:
number = input ("Input a number from 1-100 ")

type(number)

In [ ]:
number = int (input ("Input a number from 1-100 "))

type (number)

## Lists - Collection of other data types

In [ ]:
list_empty = [] # empty list 
list_people_in_class = ["Prisha","Divya", "Aman"] # List contains names of people in today's class

print (list_empty)
print(list_people_in_class)

### List operations

In [ ]:
states = []

print (states)

type(states)

In [ ]:
states.append("New York")

print (states)

In [ ]:
states.append("New Jersey")

print (states)

In [ ]:
states.remove('New Jersey')

print (states)

In [ ]:
states.insert(0, "New Jersey")
print (states)

In [ ]:
states[0] = "Massachusetts"

In [ ]:
print (states)

In [ ]:
states.insert(1, "New Jersey")

print (states)

In [ ]:
print (states)

In [ ]:
states.sort()
print (states)

## Class Excercise 
Name Greeter, take a name and chose a different greeting from a list

In [ ]:
list_greeting = ["Hello ", "Hey ", "Bonjour ", "Namaste ", "Hola ", "Shalom "]

name = input ("Hey there ! Whats your name ?")

import random

greeting = random.choice(list_greeting)
print (greeting, name)

# Class 3

## Boolean

In [ ]:
b = True

In [ ]:
type(b)

In [ ]:
x = 5

In [ ]:
y = (x == 5)

In [ ]:
type(y)

In [ ]:
print (y)

In [ ]:
print (x == 5)
print (x < 10)
print (x > 6)
print (x != 5)

## Condition - If , else

In [ ]:
name = input("Whats your name ? ")

if name == "Aman":
  print ("Hey Aman !")
elif name == "Divya":
  print ("Hey Divya !")
elif name == "Prisha":
  print ("Hey Prisha !")
else:
  print ("You are not allowed here , sorry !")

In [ ]:
# combining condition and / or
age = 0
if name == "Aman" or name == "Divya" or name == "Prisha":
  age = int (input ("whats your age ? "))


if age > 0 and age <= 30 and name == "Aman":
  print("You are allowed to enter") 
else:
  print ("Not Allowed !")

In [ ]:
# Not Lets combine all of it together 

names_allowed = ["Aman", "Divya", "Prisha", "Vraj", "Nidhi"]

user_name = input ("Hi! Whats your name ? ")
user_age = int(input ("Whats your age ?"))

if user_name in names_allowed and user_age in range(1, 30):
  print ("Welcome to the Python Class !!")
else:
  print ("Sorry, you are not allowed")

## Loops - For and While

In [ ]:
for name in names_allowed:
  print ("Hello", name)

In [ ]:
# for loop
primes = [2, 3, 5, 7]
for p in primes:
    print(p)

In [ ]:
# range function 
for num in range (1, 100):
  print (num)

In [ ]:
# While loop

count = 0

while count < 100:
  print ("The count is ", count)
  count = count + 1 # must be added.

In [ ]:
names_allowed = ["Aman", "Divya", "Prisha", "Vraj", "Nidhi"]

user_name = ""

while user_name not in names_allowed: 
  user_name = input("Whats your name ?")