# Class 1

##Printing

In [ ]:
print ("Lets print something ")

Lets print something

In [ ]:
print ("Hi! My name is Aman ")

Hi! My name is Aman

## Variables

In [ ]:
num = 1 
my_string = "This is a string"

In [ ]:
print (num)

1

In [ ]:
print (my_string)

This is a string

## Data Type - Strings

In [ ]:
my_str = "Hello"

In [ ]:
print (my_str)

Hello

In [ ]:
print (my_str[0])

H

In [ ]:
different_string = "This is a MY NAME: AMAN"

In [ ]:
 print ("Hello", different_string[19:])

Hello AMAN

In [ ]:
print (different_string[-4:])

AMAN

In [ ]:
len(different_string)

23

In [ ]:
different_string.lower()

'this is a my name: aman'

##Data Type - Numbers

In [ ]:
num1 = 3
num2 = 4

In [ ]:
sum = num1+num2

In [ ]:
print (sum)

24

In [ ]:
num1 ** num2

81

# Class 2

## Recap

In [1]:
var_string = "This is a string "
a = 3
b = 5

print (var_string[4:])
c = a+b
print (c)

 is a string
8

## Operations and Type

In [2]:
a = 5.0

type(a)

float

In [3]:
s = "5"

type(s)

str

In [4]:
a + 5 # give me 10

10.0

In [9]:
s + 5 # Gives me an error

TypeError: ignored

In [10]:
s + "5" # Will make it string 55

'55'

In [7]:
# what if i have to convert it to a int ?
s = "45"

c = int(s) + 5

print (c) # Now this will give me 10

50

## Defining Strings & Input

In [8]:
my_string = 'Hey ! This is Aman !'

print (my_string)

Hey ! This is Aman !

In [17]:
# Give's an error why ?
my_string = 'This is Aman's Class'

SyntaxError: ignored

In [18]:
my_string = "This is Aman's Class" # "" solves the problem of having 's

print (my_string)

This is Aman's Class

In [9]:
# Lets take the name from the user (someone who is running your program)

name = input ("Whats your name ? ")

print ("Hey there !", name)

Whats your name ? Aman
Hey there ! Aman

In [22]:
type(name)

str

In [10]:
number = input ("Input a number from 1-100 ")

type(number)

Input a number from 1-100 45

str

In [25]:
number = int (input ("Input a number from 1-100 "))

type (number)

Input a number from 1-100 45

int

## Lists - Collection of other data types

In [28]:
list_empty = [] # empty list 
list_people_in_class = ["Prisha","Divya", "Aman"] # List contains names of people in today's class

print (list_empty)
print(list_people_in_class)

[]
['Prisha', 'Divya', 'Aman']

### List operations

In [13]:
states = []

print (states)

type(states)

[]

list

In [14]:
states.append("New York")

print (states)

['New York']

In [15]:
states.append("New Jersey")

print (states)

['New York', 'New Jersey']

In [16]:
states.remove('New Jersey')

print (states)

['New York']

In [17]:
states.insert(0, "New Jersey")
print (states)

['New Jersey', 'New York']

In [18]:
states[0] = "Massachusetts"

In [19]:
print (states)

['Massachusetts', 'New York']

In [20]:
states.insert(1, "New Jersey")

print (states)

['Massachusetts', 'New Jersey', 'New York']

In [25]:
print (states)

['Massachusetts', 'New Jersey', 'New York']

In [26]:
states.sort()
print (states)

['Massachusetts', 'New Jersey', 'New York']

## Class Excercise 
Name Greeter, take a name and chose a different greeting from a list

In [33]:
list_greeting = ["Hello ", "Hey ", "Bonjour ", "Namaste ", "Hola ", "Shalom "]

name = input ("Hey there ! Whats your name ?")

import random

greeting = random.choice(list_greeting)
print (greeting, name)

Hey there ! Whats your name ?Aman
Hey  Aman